[Unit]
Description=GoHome Client Service
After=network.target

[Service]
ExecStart=/usr/local/gohome/gohome client -c=/usr/local/gohome/gohome.toml
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target